{% extends 'head.html' %}

{% block header %}
  {% block title %}
    <table style="width:70%">
      <tr>
        <th>DataBase Host</th>
        <th>DataBase Instance</th>
      </tr>
      <tr>
        <td>{{ database['host'] }}</td>
        <td>{{ database['instance'] }}</td>
      </tr>
    </table>
    <hr style="width:80%;text-align:left;margin-left:0;color:black">
  {% endblock %}
{% endblock %}

{% block content %}
{% if workers %}
<table style="width:70%">
  <tr>
    <th>Workers</th>
  </tr>
{% for item in workers %}
  <tr>
    <td>{{ item }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}