{% extends 'head.html' %}

{% block content %}
  {% if dbinfo %}
    <article class="DATABASE INFO">
    <header>
        <div>
        <h1>Server FQDN: {{ dbinfo['host'] }}</h1>
        </div>
    </header>
    </article>
    <hr>
  {% endif %}
  {% if workers_up %}
    {% for worker in workers_up %}
        <article class="Users">
        <header>
            <div>
            <h1>{{ worker }}</h1>
            </div>
        </header>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}