{% extends 'head.html' %}

{% block header %}
  {% block title %}
    <h1 style="font-family:verdana; font-size: 16pt;">DataBase</h1>
    <ul>
    <li style="font-family:verdana; font-size: 14pt;">Hostname: {{ database['host'] }}</li>
    <li style="font-family:verdana; font-size: 14pt;">Instance: {{ database['instance'] }}</li>
    </ul>
    <hr style="width:80%;text-align:left;margin-left:0;color:black">
  {% endblock %}
{% endblock %}

{% block content %}
{% if workers %}
<h1 style="font-family:verdana; font-size: 16pt;">Workers</h1>
<ol>
{% for item in workers %}
<li style="font-family:verdana; font-size: 14pt; color: blue;">{{ item }}</li>
{% endfor %}
</ol>
{% endif %}
{% endblock %}